@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    height: 100%;
    background: #E2E2E2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #E2E2E2;
    margin: 0;
    padding: 0;
}

.login-form-wrap {
    background: radial-gradient(ellipse at center, rgba(81, 112, 173, 1) 0%, rgba(53, 84, 147, 1) 100%);
    border: 1px solid #2d416d;
    box-shadow: 0 1px #5670A4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 360px;
    height: 380px;
    margin: 60px auto;
    padding: 50px 30px 0 30px;
    text-align: center;
}

.login-form-wrap h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.login-form-wrap p {
    margin: 0 0 40px 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    border: 1px solid #314d89;
    outline: none;
    padding: 12px 20px;
    color: #afafaf;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

input[type="email"] {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding-bottom: 13px;
    box-shadow: 0 -1px 0 #E0E0E0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
}

input[type="password"] {
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}

.login-form button#submit-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%, rgba(206, 206, 206, 1) 100%);
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 17px;
    color: #636363;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    font-weight: 700;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}

.login-form button#submit-btn:hover {
    background: #DDD;
}

.login-form button#submit-btn:active {
    padding-top: 9px;
    padding-bottom: 7px;
    background: #C9C9C9;
}

.countdown-wrapper {
    font-size: 2rem;
    text-align: center;
}

.countdown-wrapper p {
    margin-bottom: 20px;
}

.race-countdown {
    font-size: 3rem;
    font-weight: bold;

}

.statistic-table {
    max-width: 900px;
    min-width: 500px;
    height: 33%;
    margin: 0 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}


.statistic-table caption {
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(53, 84, 147, 1);
    /* border-bottom: 2px solid rgba(53, 84, 147, 1); */

}

.statistic-table .table-header {
    /* border-bottom: 2px solid rgba(53, 84, 147, 1); */
    background-color: rgba(53, 84, 147, .1)
}

.statistic-table .table-header th {
    padding: 15px;
    color: rgba(53, 84, 147, 1);
}

.statistic-table td {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.statistic-table tr {
    border-bottom: 1px solid #fff;
}

.statistic-table tr:first-child,
.statistic-table tr:last-child {
    border: none;
}


.race-text {
    max-width: 70%;
    min-width: 500px;
    height: 33%;
    margin: 10px 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    will-change: transform;
    /* background-image: url(/img/type-border-tall.gif); */
    overflow: hidden;
    padding: 0 15px;
    font-size: 25px;
    font-family: pt-mono, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 20px;
}

.word {
    display: flex;
    line-height: 1.5;
}

.letter {
    font-family: "Inconsolata", Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    min-width: 7px;
}

.letter.correct {
    background-color: #eee;
}

.letter.wrong {
    background-color: salmon;
    color: white;
}

.letter.current {
    background-color: lightgreen;
}